.navbar-nav .nav-link:hover,
footer a:hover {
  color: #ffde00 !important;
  text-decoration: underline;
  transition: color 0.3s ease;
}



.list-unstyled ul a {
  margin-top: 10px !important;
}

footer a {
  transition: color 0.3s ease;
}

.custom-sticky {
  position: fixed;
  top: 100px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}




@media (max-width: 768px) {
  .navbar form {
    margin-top: 10px;
  }
}



.filters-card {
  max-width: 300px;
  top: 100px;
  z-index: 1020;
  transition: all 0.3s ease-in-out;
}

.filters-card select:focus {
  border-color: #2563EB;
  box-shadow: 0 0 0 0.2rem rgba(37, 99, 235, 0.25);
}

@media (max-width: 768px) {
  .filters-card {
    max-width: 100%;
    position: static !important;
  }
}